/*@keyframes background-color-animation {
from {background-color:red; width:300px; height:300px;}
to {background-color: darkblue; width:50px; height:50px;}
}*/
/*@keyframes background-color-animation{
    0% {background-color: red;
        width: 300px;
        height: 300px;}
    35% {background-color: seagreen;
        width: 500px;
        height: 500px;}
    70% {background-color: royalblue;
        width: 50px;
        height: 50px;}
    100% {background-color: red;
        width: 300px;
        height: 300px;}
}
  div.animation-example{
        width: 300px;
        height: 300px;
        background-color: red;
        animation-name:background-color-animation;
        animation-duration: 3s;
        animation-iteration-count: 2; 
        animation-timing-function: linear;
       }*/
  p.circule {
      width: 100px;
      height: 100px;
      background-color: seagreen;
      border-radius: 50%;
       }
p.rectangle{
    width: 200px;
    height: 100px;
    background-color: seagreen;
}
p.triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid seagreen;
}
p.trapezoid{
    border-bottom: 100px solid seagreen;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 50px;
}

p.diamond-top {
    width: 0;
    height: 0;
    border : 50px solid transparent;
    position: relative;
    border-bottom: 66px solid seagreen;
    top: -50px;
}
p.diamond:after {
    content: '' ;
    width: 0;
    height: 0;
    left: -50px ;
    top: 70px;
    border: 50px solid transparent;
    border-top: 66px solid seagreen;
}